/*
    Theme Name: dpb
    Description: Adapted by David Branner for his own use and play, from http://mnmlist.com/theme/ of Leo Babauta and Mathieu Agopian.
*/

@import url("pygment.css");

/* line 13, ../../compass/src/main.scss */
body {
  background: #1E1E1E;
  color: #EEE;
/*  font: 20px Hoefler Text, bodyfont, serif; */
  font: 20px Baskerville, bodyfont, serif;
  line-height: 30px;
  margin: 60px 14px 0 64px;
}

/* line 28, ../../compass/src/main.scss */
h1 {
  color: #F00;
  font-family: Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 0;
}

/* line 34, ../../compass/src/main.scss */
h2 {
  color: #DDD;
  font-family: Helvetica, sans-serif;
  font-size: 1.3em;
}

/* line 38, ../../compass/src/main.scss */
h3 {
  color: #CCC;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
}

/* line 42, ../../compass/src/main.scss */
h4 {
  color: #CCC;
  font-family: Helvetica, sans-serif;
  font-size: 0.9em;
}

/* line 46, ../../compass/src/main.scss */
time, .sitename, #rss, date {
  color: #c0c0c0;
  font-size: 75%;
  font-variant: small-caps;
}

/* line 51, ../../compass/src/main.scss */
img {
  border: none;
}

/* line 55, ../../compass/src/main.scss */
blockquote {
  border-left: 1px solid #AC0 /*#A5ABAB*/;
  margin: 0px;
  padding: 0 12px 0 12px;
}

/* line 61, ../../compass/src/main.scss */
p {
  line-height: 30px;
  margin: 30px auto;
  text-indent: 0px;
}

/* line 65, ../../compass/src/main.scss */
p.caption {
  font-size: 80%;
  margin-top: 0;
}

/* my own link style (Tastalian) */

a {
    color: #AC0;
    text-decoration: none;
}

/* a:hover {
    background-color: #3B0;
    color: white;
}

a:visited {
    color: #F60;
}

a:visited:hover {
    background-color: #F60;
    color: white;
} */

/* line 78, ../../compass/src/main.scss */
ul, ol {
  padding: 0em 0em 0em 3.2em;
}

/* line 80, ../../compass/src/main.scss */
ul li, ol li {
  line-height: 30px;
  padding: 0 0 0 0;
}

/* line 86, ../../compass/src/main.scss */
strong {
  color: #999;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

/* line 92, ../../compass/src/main.scss */
tt, pre {
  background-color: #2A2A2A;
  font-family: Inconsolata, Monaco, monospace;
  line-height: 1.3em;
}

/* line 98, ../../compass/src/main.scss */
pre {
  font-size: 0.8em;
  overflow: auto;
  padding: 10px;
}

/* Make line-numbers unselectable. - dpb */
.linenodiv {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* line 104, ../../compass/src/main.scss */
header {
  padding-bottom: 10px;
}

/* line 106, ../../compass/src/main.scss */
header a {
  border-bottom: none;
}

/* line 108, ../../compass/src/main.scss */
header a#page-title {
  font-weight: bold;
}

/* line 112, ../../compass/src/main.scss */
#article-list {
  margin-top: 90px;
}

/* line 114, ../../compass/src/main.scss */
#article-list ol li {
  line-height: 1.2em;
  list-style-type: none;
  padding-bottom: 10px;
}

/* line 121, ../../compass/src/main.scss */
footer {
  background: #2A2A2A;
  color: #CCC;
  font-family: helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 4px;
  margin-left: 20px;
}

/* line 132, ../../compass/src/main.scss */
footer li {
  display: inline;
}

/* line 135, ../../compass/src/main.scss */
footer p {
  text-align: right;
}

#rc-scout .rc-scout__link {
  color: #AC0;
  font-variant: small-caps;
  text-decoration: none;
}

#rc-scout .rc-scout__text {
  font-variant: small-caps;
  text-decoration: none;
}

/* End */